Package: enigma2-plugin-skincomponents-mediaportal-ax-blue-full-hd
Version: 3.3
Section: base
OE: enigma2-plugins
License: open
Priority: optional
Architecture: all
Maintainer: stein17
Description: Skin for Mediaportal by stein17
Source: https://axforum.de/
Homepage: https://axforum.de/

